.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-top: 2rem;
}
.about-text-laft-home {
  width: 50%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-text-laft-home div .btton {
  width: 90%;
}

.about .about-img-right-home {
  width: 50%;
  height: 50vh;
}

.about .about-img-right-home img {
  width: 100%;
}

@media (max-width: 1000px) {
  body .about {
    flex-direction: column;
  }
  body .about .about-text-laft-home {
    width: 100%;
    height: fit-content;
  }
  body .about .about-img-right-home {
    width: 100%;
    height: fit-content;
  }
  body .about-text-laft-home div .btton {
    padding: 2rem 4rem;
    font-size: 2rem;
    font-weight: 800;
  }

  body .about-text-laft-home div h1{
    font-size: 4rem;
    font-weight: 900;
  }

  body .about-text-laft-home div p{
    font-size: 1.6rem;
    font-weight: 700;

  }
}
